<form (ngSubmit)="saveBook()" [formGroup]="bookForm">
  <div>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
  </div>
  <div *ngIf="isValid('title')" [style.color]="'red'">
    Please, enter valid title
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Author" formControlName="author">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Year" formControlName="year">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Pages" formControlName="pages">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Price" formControlName="price">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <button type="submit" mat-flat-button [disabled]="!bookForm.valid">Save</button>
</form>
